[Desktop Entry]
Encoding=UTF-8
Name=Donuts
Icon=/home/pi/pygame/icon.png
Type=Application
Exec=gnome-terminal -x bash -c "cd /home/pi/pygame && python game.py"
